.movies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-list {
  display: inline-grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
}
