@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

html {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

img {
  image-rendering: pixelated;
}
