@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #030221;
}

* {
  font-family: inherit;
}

body {
  margin: 0;
}

main {
  max-width: 800px;
  margin: 1rem auto;
  text-align: center;
}

button {
  font-size: 1rem;
  padding: 0.25rem 1rem;
}
