.movie-form {
  padding: 1.5rem;
  background-color: #fff;
  color: #151116;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.movie-form__message {
  text-align: center;
}

.movie-form__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  min-width: 400px;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
  border: none;
}

.movie-form__title {
  margin: 0 0 1rem 0;
  grid-column: 1 / 3;
  text-align: center;
}

.movie-form__label {
  grid-column: 1 / 2;
  margin-right: 5px;
}

.movie-form__input {
  grid-column: 2 / 3;
}

.movie-form__submit {
  margin: 1rem 0 0 0;
  padding: 0.25rem 0.75rem;
  grid-column: 1 / 3;
  justify-self: center;
}
